#login-form {
  border: .25rem;
  border-style: solid;
  border-color: black;
  border-radius: 2rem;
  background-color: rgb(243, 219, 141);
  width: 20rem;
  text-align: center;
  margin: auto;
}

div {
  text-align: center;
}

input {
  border: .25rem;
  border-color: black;
  border-style: solid;
  border-radius: 1rem;
  text-align: center;
  background-color: thistle;
}

button {
  background-color: cornflowerblue;
  width: 10rem;
  border-radius: 1rem;
}