#login-form {
  border: .25rem;
  border-style: solid;
  border-color: black;
  border-radius: 2rem;
  background-color: rgb(243, 219, 141);
  width: 20rem;
  text-align: center;
  margin: auto;
}

div {
  text-align: center;
}

.navButt {
margin-right: 3rem;
margin-left: 3rem;
border-style: inset;
border-color: darkgray;
border-radius: 15%;
}

input {
  border: .25rem;
  border-color: black;
  border-style: solid;
  border-radius: 1rem;
  text-align: center;
  background-color: thistle;
}

#logButt {
  background-color: cornflowerblue;
  width: 10rem;
  border-radius: 1rem;
}